#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dashboard__container{
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr);
  gap: 1rem;
}

.chart__container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.charts{
  background: beige;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}